@media screen and (max-width:769px){
    .main-container {
        width: 80%;
        margin: 0 auto;
    }
    .width-sepcl > * {
        width: 18%;
    }

    .cards-wrapper h3{
        font-size: 18px;
    }
}

@media screen and (max-width:481px){
    .D-flex {
        display: block;
    }
    .width-sepcl > * {
        width: 94%;
        margin: 3rem 0;
    }

    

    /* .cont-flag img {
        max-width: 16rem;
        border-radius: 7px;
    } */
    .cont-flag img {
        max-width: 10rem;
      
    }

    .App {
        
        padding: 1px;
    }

    .cards-wrapper  span{
        display: block;
    }
}

@media screen and (max-width:320px){
    

    .app-name-wrapper .heading{
        font-size: 18px;
    }

    .btns {
       
        font-size: 13px;
    }
    .cards-wrapper {
        text-align: unset;
    }

    /* .cards-wrapper h2{
        font-size: 15px;
    } */
    .App {
        /* margin: 0 auto; */
        padding: 1px;
    }
}